In [4]:
### list
- indexed,ordered,mutable,allows duplicate elements,hetrogenous,"[]","list()"
### tuple
- indexed, ordered,**immutable**,allows duplicate  elements,hetrogenous,"()",'tuple()'
### set
-**unordered**,mutable,**does not allows duplicate elements**,hetrogenous,"{}","set()"
### dictonary
- **unordered**,mutable,**does not allows duplicate keys,hetrogenous,key:value pairs,{},dict()

list
- creating
-indexing and slicing
-methods(11 methods)
-list comprehension.

SyntaxError: invalid syntax (2165297187.py, line 2)

In [10]:
x=[1,2,3,4,5]
names=['John','Paul','Roni','Soyal']
mix=[1,'John',3.14,true]
nested=[[1,2,3]],[4,5,6],[7,8,9]
mt=[]
cloned=[1,2,3]*5
words='this is sparta'.split()
chars=list('Alexander')

NameError: name 'true' is not defined

In [11]:
print(x[0])
print(x[-1])
x[0]=100 #updating value at index 0

1
5

In [12]:
char[:5]

NameError: name 'char' is not defined

-adding
   -append()   -adds an elements to the end of list
   -extend()   -adds all elements of one list to another list
   -insert()   -adds an elements at a specific index
-removing
   -remove()
   -pop()
   -clear()
-utlity
  -count()
  -index()
  -sort()
  -reverse()
  -copy()

In [13]:
x.append(6)
x.extend(a)
print(x)

NameError: name 'a' is not defined

x.insert(5,100)
x.insert(6,500)
print(x)

#wap to take 10 values from user and store in list

In [15]:
udata =[]
for i in range(10):
    x = input('enter something:')
    udata.append(x)
    print(udata)

['one two three four five six']
['one two three four five six', '']
['one two three four five six', '', '']
['one two three four five six', '', '', '']
['one two three four five six', '', '', '', '']
['one two three four five six', '', '', '', '', '']
['one two three four five six', '', '', '', '', '', '']
['one two three four five six', '', '', '', '', '', '', '']
['one two three four five six', '', '', '', '', '', '', '', '']
['one two three four five six', '', '', '', '', '', '', '', '', '']

In [16]:
if'five' in udata:
    udata.remove('five')
    print(udata)

In [19]:
udata.remove('four') if 'four' in udata else print(not found)

NameError: name 'found' is not defined

In [23]:
x=[1,2,3,4,5]
print(x.pop())
print(x.pop(2))

5
3

In [25]:
udata.clear()
print(udata)

[]

In [26]:
del x

In [29]:
a=[1,2,3,1,1,2,2,2,2,1,1,1]
a.count(2)

5

In [ ]:
names.sort()
print(names)

In [30]:
ord('a')

97

# write a program to create a fibonancci series
# of 10 numbers and store it in a list
# [0,1,1,2,3,5,8,13,21,34]

In [31]:
x=[0,1]
for i in range(10):
    x.append(x[-2]+x[-1])
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]